h1 申請リスト
table border='1'
  tr
    th 一般ユーザー
    th ファイナンシャルプランナー
    th 開始時間
    th 状態
  - @reservations.each do |reservation|
    tr
      td #{reservation.general_user.name}
      td = link_to reservation.financial_planner.name, reservation.financial_planner
      td #{reservation.consultation_start_time.strftime('"%Y年 %m月 %d日, %H:%M:%S"')}
      td #{reservation.purse_status}
