<!DOCTYPE html>
<html>
  <head>
    <title>ReservationApp</title>
    <%= csrf_meta_tags %>

    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="conteiner">
      <div id='header'>
        <%=javascript_pack_tag 'header' %>
      </div>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
